body{background: #0c192c;}
.conteiner{position: relative;width: 100%;height: 100vh;overflow: hidden;
}
.bolhas{position: z-index -3; position: absolute; ;display: flex;
}
.spanz{position: relative;min-width: 20px;height: 20px;background: #4fc3dc;box-shadow: 0 9 9 10px #307d8f,0 0 50px #4fc3dc,0 0 100px #4fc3dc;margin: 0 4px;border-radius: 50%;animation: animate 15s linear infinite;animation-duration: calc(75s / var(--i));
}
.spanz:nth-child(even){background: #ff2d75;box-shadow: 0 0 0 10px #ff2d7544,0 0 50px #ff2d75,0 0 100px #ff2d75;
}
@keyframes animate {0%{transform: translateY(100vh) scale(0);}100%{transform: translateY(-10vh) scale(1);}
}
.conteudoprincipal{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.titulo{

  color: white;
  padding-right: 0; 
  font-size: 48px;
  line-height: 150%;
  padding-bottom: 5px;
    margin-bottom: 10px;
    padding-top: 6px;
    display: block;
    min-height: 48px;
    padding: 6px 0 4px;
    position: relative;
    text-shadow: 10px 10px 6px rgba(0, 0, 0, 0.5);
    font-family: "Trebuchet MS", sans-serif;
}


.btnstart{
  margin-left: auto;
    margin-right: auto;
    background: #0084F9;
    color: #FFFFFF;
    font-size: 20px;
    width: auto;
    min-width: 200px;
    margin-top: 10px;
    padding: 15px 10px;
    line-height: 15px;
    font-weight: 400;
    border-radius: 10px;
    touch-action: manipulation;
    cursor: pointer;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: "Trebuchet MS", sans-serif;
}
btnstart:hover{
 
  color: black;
}

